.modal-transparent {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.33);
}

.modal-transparent-body {
  margin: auto;
  position: fixed;
  width: 15em;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: row;
}

.modal-transparent-body.floating {
  top: 9vh;
}

.modal-transparent-content {
  position: relative;
  width: -webkit-fill-available;
  max-height: 90vmin;
  height: 90vmin;
  font-size: 10.5pt;
  padding: 0.6em 1.70em 0 1.70em;
  border-radius: 2vmin;
  background-color: #000000e5;
  overflow: auto;
}

.modal-transparent-content.floating {
  max-height: 69vh;
  height: auto;
}

.modal-transparent-title {
  display: block;
  padding: 0.75em 0em 0.35em 0em;
  color: white;
  width: -webkit-fill-available;
}

.modal-transparent-list { 
  color: white;
}

.modal-transparent-listItem {
  color: white;
  display: flex;
  border-radius: 5px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

.modal-transparent-listItem input {
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.modal-transparent-listItem .checkmark {
  display: flex;
  background-color: transparent;
  gap: 0.5em;
  margin: 0.20em 0 0 0;
  height: 1em;
  width: 1em;
  border: 1px solid white;
  border-radius: 50%;
}

.modal-transparent-listItem .inputLabel {
  margin: 0 0.5em;
}

.modal-transparent-listItem:hover input ~ .checkmark {
  background-color: rgba(255,255,255,0.33);
}

.modal-transparent-listItem img {
  height: 4.5vmin;
  width: 4.5vmin;
  margin: 1.5vmin 1.5vmin;
  /* filter: var(--filter-icone-tema); */
}

.modal-transparent-listItem span {
  margin-top: 0.35rem;
}

.modal-transparent-list ul li {
  list-style: none;
}




.modal-transparent-carousel {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.8);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadein 0.1s linear;
  color: #fff;
  user-select: none;
}

.modal-transparent-carousel p {
  font-family: 'Open Sans', sans-serif;
  line-height: normal;
  padding-top: 1.6vmin;
}

.modal-transparent-carousel-container {
  pointer-events: all;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  animation: fadein 0.4s linear;
  width: -webkit-fill-available;
}

.modal-transparent-carousel-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4vmin 2vmin;
  width: 100%;
}

.modal-transparent-carousel-body-header {
  display: flex;
  width: -webkit-fill-available;
  align-items: center;
}

.modal-transparent-carousel-title-wrapper {
  width: -webkit-fill-available;
}

.modal-transparent-carousel-body-header .icon-wrapper{
  height: 100%;
}

.modal-transparent-carousel-body-header .icon {
  display: flex;
  height: 15vmin;
  width: 15vmin;
}

.modal-transparent-carousel-title,
.modal-transparent-carousel-subtitle {
  font-weight: bold;
  width: 100%;
  font-size: 4.5vmin;
  margin: 4vmin 1vmin 3.5vmin 1vmin;
  text-align: left;
}

.modal-transparent-carousel-subtitle {
  font-style: italic;
}

.modal-transparent-carousel-body-content {
  display: flex;
  align-items: center;
}

.modal-transparent-carousel-body-content .thumb {
  display: flex;
  width: 100%;
}

.modal-transparent-carousel-footer {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.modal-transparent-carousel-footer-content {
  padding: 0 2vmin;
  align-items: center;
  font-size: 7vmin;
  font-weight: 600;
}

.modal-transparent-carousel-footer-content .bt-deckBuilder {
  padding: 0 7vmin;
}

.modal-transparent-carousel-footer-content .bt-deckBuilder img {
  width: 7vmin !important;
  height: 7vmin !important;
}

.deckBuilder-item-nameBox.transparent {
  background-color: transparent;
  border: none;
  width: -webkit-fill-available;
}

@media screen and (min-width: 300px) And (max-height: 890px) And (min-aspect-ratio: 9/16) {
  /* VMAX */
  .modal-transparent-carousel p {
    padding-top: 0.89vmax;
  }
  .modal-transparent-carousel-container {
    /* width: 44.6vmax; */
  }
  .modal-transparent-carousel-body {
    padding-top: 1.67vmax;
  }
  .modal-transparent-carousel-body img {
    /* width: 18.4vmax; */
  }
  .modal-transparent-carousel-title {
    font-size: 2.51vmax;
    margin: 2.51vmax 0 1.95vmax 0;
  }
  .modal-transparent-carousel-message {
    font-size: 1.67vmax;
  }
  .modal-transparent-carousel-footer-message {
    padding-left: 1.12vmax;
    font-size: 1.12vmax;
  }
}

@media screen and (min-width: 300px) And (max-height: 890px) And (min-aspect-ratio: 1/1) {
  /* VMIN */
  .modal-transparent-carousel p {
    padding-top: 0.89vmin;
  }
  .modal-transparent-carousel-container {
    /* width: 44.6vmin; */
  }
  .modal-transparent-carousel-body {
    padding-top: 1.67vmin;
  }
  .modal-transparent-carousel-body img {
    /* width: 18.4vmin; */
  }
  .modal-transparent-carousel-title {
    font-size: 2.51vmin;
    margin: 2.51vmin 0 1.95vmin 0;
  }
  .modal-transparent-carousel-message {
    font-size: 1.67vmin;
  }
  .modal-transparent-carousel-footer-message {
    padding-left: 1.12vmin;
    font-size: 1.12vmin;
  }
}

@media screen and (min-width: 500px) And (min-height: 891px) {
  .modal-transparent-carousel p {
    padding-top: 8px;
  }
  .modal-transparent-carousel-container {
    /* width: 44.6vmin; */
  }
  .modal-transparent-carousel-body {
    padding-top: 15px;
  }
  .modal-transparent-carousel-body img {
    /* width: 165px; */
  }
  .modal-transparent-carousel-title {
    font-size: 22.5px;
    margin: 20px 0 17.5px 0;
  }
  .modal-transparent-carousel-message {
    font-size: 15px;
  }
  .modal-transparent-carousel-footer-message {
    padding-left: 10px;
    font-size: 10px;
  }
}